.register {
  z-index: 2;
}
.custom-shape-divider-bottom-1649857276 {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
  z-index: 1;
}

.custom-shape-divider-bottom-1649857276 svg {
  position: relative;
  display: block;
  width: calc(110% + 1.3px);
  height: 336px;
}

.custom-shape-divider-bottom-1649857276 .shape-fill {
  fill: #ace7f0;
}
