.checkout-container {
  border-radius: 20px;
  /* background: #f4fcff; */
  box-shadow: 5px 5px 10px #b5babd, -5px -5px 10px #ffffff;
}

.checkout-form {
  width: 100%;
}
.checkout-form input {
  border: 0px solid gray;
  padding: 15px 20px;
  margin-bottom: 20px;
  width: 100%;
  border-radius: 10px;
  background: #f4fcff;
  color: gray;
  box-shadow: inset 6px 6px 12px #e3eaed, inset -6px -6px 12px #ffffff;
}
